<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>中移信息技术有限公司-CMDB</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% include 'link_css.html' %}
    {% include 'head_scripts.html' %}
    {% block ace-content %} {% endblock %}
</head>
<body class="hold-transition skin-yellow-light sidebar-mini">

<div id="wrapper">
    {% include 'main_sidebar.html' %}
    {% block page-content %} {% endblock %}

</div>
</body>
{% block self_footer_js %}{% endblock %}
{% include 'footer.html' %}
</html>