<!-- jQuery -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="/static/vendor/metisMenu/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="/static/vendor/raphael/raphael.min.js"></script>
<script src="/static/vendor/morrisjs/morris.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/dist/js/sb-admin-2.js"></script>
<!-- Flot Charts JavaScript -->
<script src="/static/vendor/flot/excanvas.min.js"></script>
<script src="/static/vendor/flot/jquery.flot.js"></script>
<script src="/static/vendor/flot/jquery.flot.pie.js"></script>
<script src="/static/vendor/flot/jquery.flot.resize.js"></script>
<script src="/static/vendor/flot/jquery.flot.time.js"></script>
<script src="/static/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
    <![endif]-->
<!--    弹窗开始样式 -->
<script src="/static/dist/js/xcConfirm.js" type="text/javascript"
        charset="utf-8"></script>
<!--   csrf -->
<script src="/static/js/csrf.js"></script>
<!-- Multiselect JavaScript -->
<script type="text/javascript" src="/static/elfinder/plugins/bootstrap-select/js/bootstrap-select.min.js"
        charset="utf-8"></script>
<script type="text/javascript" src="/static/elfinder/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js"
        charset="utf-8"></script>
<!-- Echat JavaScript -->
<script type="text/javascript" src="/static/js/echarts.js"></script>
<!-- Datetimepicker -->
<script type="text/javascript"
        src="/static/js/bootstrap-datetimepicker.js"></script>
{% block ace-content %} {% endblock %}
<!-- DataTables JavaScript -->
<link rel="stylesheet" href="/static/dist/css/jquery.dataTables.min.css">
<script src="/static/js/jquery.dataTables.min.js"></script>