
<!-- Bootstrap Core CSS -->
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- JQuery ui CSS -->
<link href="/static/dist/css/jquery-ui.min.css" rel="stylesheet">
<!-- MetisMenu CSS -->
<link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="/static/vendor/morrisjs/morris.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/static/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<!-- Multiselect CSS -->
<link rel="stylesheet" href="/static/dist/css/bootstrap-select.css"
	type="text/css" />
<!--    弹窗开始样式 -->
<link rel="stylesheet" type="text/css"
	href="/static/dist/css/xcConfirm.css" />
<!-- Datetimepicker -->
<link rel="stylesheet"
	href="/static/dist/css/bootstrap-datetimepicker.min.css"
	type="text/css" />
<style type="text/css">
	pre {
		overflow: auto;
		white-space: normal;
		white-space: pre-wrap; /* css-3 */
		white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		word-wrap: break-word; /* Internet Explorer 5.5+ */
		border: 1px solid #ccc;
		padding: 5px;
		margin: 10px;
		font-family: Consolas, monospace;
		color: #ADFF2F;
		background-color: #000000;
	}
  .dropdown-menu {
		max-height: 500px;
		overflow-y: auto;
		overflow-x: hidden;
	}
</style>